
.card{
  border: 1px solid rgb(71, 71, 71);
  border-radius: 10px;
  box-shadow: 5px 5px 10px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card-img {
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card-detail{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 30%);
  font-size: 14px;
}

.btn {
  background-color: hsl(197, 59%, 58%);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
  background-color: hsl(197, 59%, 68%);
}

.student{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 20%);
  font-size: 1.5em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 30%,0.8);
  border-radius: 10px;
  margin: 10px;
}

.welcome-message {
  font-size: 1.2em;
  background-color: hsl(120, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 0;
}
.login-prompt {
  font-size: 1.2em;
  background-color: hsl(32, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 0;
}

.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  text-align: center;
  margin: 20px 0;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(197, 59%, 58%);
}

.list-item {
  font-size: 2.5em;
  color: hsl(0, 0%, 25%);
  padding: 10px;
  border: 1px solid hsl(0, 0%, 30%,0.8);
  border-radius: 10px;
  margin: 0;
  text-align: center;
  list-style: none;
}

.list-item li:hover {
  background-color: hsl(197, 59%, 58%);
  color: white;
  cursor: pointer;
}

.counter {
  text-align: center;
  margin: 20%;
}

.title {
  font-size: 8em;
  color: hsl(0, 0%, 20%);
  text-align: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.color-input {
  width: 250px;
  height: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 20%);
  font-size: 1.2em;
  margin-bottom: 10px;
}

input[type="color"]{
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/*to-do list*/
.ToDo-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.ToDo-container .title {
  font-size: 4em;
  color: white;
}

.ToDo-container .inp{
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.inp input[type="text"]{
  width: 400px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(90deg, #e0eafc 0%, #17d6bd 100%);
  font-size: 1em;
  padding: 5px;
}

.inp .addbtn{
  width: 100px;
  height: 40px;
  font-size: 1em;
  padding: 5px;
  background-color: #17d6bd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inp .addbtn:hover{
  background-color: #138f7e;
}

.tasks{
  display: flex;
  text-align: center;
  margin: 20px;
  background-color: white;
  border: none;
  border-radius: 10px;
  height: 50px;
  gap: 5px;
}

.task{
  width: 90%;
  text-align: center;
  margin: 10px;
  font-size: 2em;
  font-weight: bold;
}

.tasks .btn {
  margin: 5px;
  background-color: #17d6bd;
}

.tasks .btn:hover {
  background-color: #138f7e;
}

#del{
  background-color: red;
}

#del:hover{
  background-color: rgb(184, 0, 0);
}

